.container-popup {
    position: absolute;
    height: 100vh;
    @extend %flex-center;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
}

.container-popup_active {
    z-index: 2;
}

.popup {
    cursor: default;
    background-color: #FFFFFF;
    border-radius: var(--border-radius);
    @extend %flex-center;
    flex-direction: column;
    width: 440px;
    padding: 20px;
}

.popup {
    &__close {
        margin-left: auto;
        display: block;
        cursor: pointer;
    }
    &__content {
        max-width: 360px;
    }
    &__text {
        color: var(--color-dark);
        margin-top: 15px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        max-width: 290px;
    }
    &__form {
        flex-direction: column;
        input {
            width: 100%;
        }
        .form__tel {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    &__submit {
        width: 100% !important;
        margin-bottom: 15px;
        padding: 16px 0;
    }
    &__checked {
        p {
            font-size: 12px;
        }
    }
}

.container-popup_active,
.popup_active {
    opacity: 1;
}